@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/*nuku 1*/

@font-face {
  font-family: Nuku1;
  font-display: swap;
  src: url("./assets/fonts/nuku1.ttf") format("truetype");
}

/*intervariable*/

@font-face {
  font-family: Intervariable;
  font-display: swap;
  src: url("./assets/fonts/intervariable.ttf") format("truetype");
}

/*blast dragon*/

@font-face {
  font-family: BlastDragon;
  font-display: swap;
  src: url("./assets/fonts/Blast Dragon D.otf") format("opentype");
}

/*sukajan*/

@font-face {
  font-family: Sukajan;
  font-display: swap;
  src: url("./assets/fonts/Sukajan Brush Demo.otf") format("opentype");
}

/*geishta*/

@font-face {
  font-family: Geishta;
  font-display: swap;
  src: url("./assets/fonts/geishta.ttf") format("truetype");
}

/*PottaOne-Regular*/

@font-face {
  font-family: PottaOne;
  font-display: swap;
  src: url("./assets/fonts/PottaOne-Regular.ttf") format("truetype");
}

@theme {
  /*fonts*/
  --font-nuku1: Nuku1, sans-serif;
  --font-intervariable: Intervariable, sans-serif;
  --font-blastdragon: BlastDragon, sans-serif;
  --font-sukajan: Sukajan, sans-serif;
  --font-geishta: Geishta, sans-serif;
  --font-pottaone: PottaOne, sans-serif;

  /*animations*/
  --animate-scroll: scroll-left-to-right 20s linear infinite;
  --animate-shake: shake 4s infinite;
}

@layer utilities {
  .bg-custom {
    background-image: url("/images/7954960.jpg");
  }
  .h-calc {
    height: calc(100vh - 76px);
  }

  .scroll-hide::-webkit-scrollbar {
    display: none;
  }

  .scroll-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes scroll-left-to-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes shake {
  0%,
  80%,
  100% {
    transform: translateX(0);
  }
  82%,
  86% {
    transform: translateX(-4px);
  }

  84%,
  88% {
    transform: translateX(4px);
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
