@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


/*nuku 1*/

@font-face {
  font-family: Nuku1;
  font-display: swap;
  src: url("./assets/fonts/nuku1.ttf") format("truetype");
}

/*intervariable*/

@font-face {
  font-family: Intervariable;
  font-display: swap;
  src: url("./assets/fonts/intervariable.ttf") format("truetype");
}

/*blast dragon*/

@font-face {
  font-family: BlastDragon;
  font-display: swap;
  src: url("./assets/fonts/Blast Dragon D.otf") format("opentype");
}

@theme {
  --font-nuku1: Nuku1, sans-serif;
  --font-intervariable: Intervariable, sans-serif;
  --font-blastdragon: BlastDragon, sans-serif;
  --animate-scroll: scroll-left-to-right 20s linear infinite;
}

@layer utilities {
  .bg-custom {
    background-image: url("/images/7954960.jpg");
  }
  .h-calc {
    height: calc(100vh - 76px);
  }

  .scroll-hide::-webkit-scrollbar {
    display: none;
  }

  .scroll-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes scroll-left-to-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
